$basic-black: #000814;
$golden-poppy: #FFD100;
$golden-dark: #B69500;
$golden-dark2: #816a02;
$basic-blue: #001327;
$basic-green: #84FF00;
$green-dark: green;
$basic-red: #ff907c;
$red-dark: #FF0005;
$background: black;
$basic-white: white;
