@font-face {
    font-family: londrinaSolidThin;
    src: url('./fonts/LondrinaSolid-Thin.ttf') format('truetype');
} ;

@font-face {
    font-family: londrinaSolidLight;
    src: url('./fonts/LondrinaSolid-Light.ttf') format('truetype');
} ;

@font-face {
    font-family: londrinaSolidRegular;
    src: url('./fonts/LondrinaSolid-Regular.ttf') format('truetype');
} ;

@font-face {
    font-family: londrinaSolidBlack;
    src: url('./fonts/LondrinaSolid-Black.ttf') format('truetype');
} ;